body {
    
    background-color: #F2F2F2;
}

#content_container {
    min-height: 800px;
}

.title_article:hover,
.author_article:hover,
.icon_delete:hover,
.icon_favorite:hover,
.icon_like:hover {
    cursor: pointer;
}

.article-divider {
    margin-top:10px
}
.content-divider {
  height: 1px;
  width:100%;
  display:block; /*for use on default inline elements like span */ 
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
#add_new_article:hover {
    cursor: pointer;
}
#glyphicon_message {
    margin-left: 2px;
    margin-right: 10px;
}