{% extends 'GarlicBlogAppBundle::layout.html.twig' %}

{% block content %}
    <div class="row-fluid">
    
        <div class="col-md-9" id="article_content">
            <ul class="list-group">
                <li class="list-group-item">
                    <h2 class="list-group-item-heading">Title of the article</h2>
                    <div class="content-divider"></div>
                    <p>blablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbal<p>
                    <p>blablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbal<p>
                    <p>blablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbal<p>
                    <p>blablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbal<p>
                    <p>blablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbal<p>
                    <p>blablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbal<p>
                    <p>blablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbal<p>
                    <p>blablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbal<p>
                    <p>blablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbal<p>
                    <p>blablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbal<p>
                    <p>blablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbalblablablablbal<p>
                    <div class="content-divider"></div>
                    <div class="article-footer"></div>
                    <div class="content-divider"></div>
                    <div class="comments">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="https://img3.doubanio.com/icon/u3527682-3.jpg"/>
                            </div>
                            <div class="col-md-10">
                                <h5 class="list-group-item-heading">comments title</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                
                            </div>
                            <div class="col-md-10">
                                <p> something </p>
                            </div>
                            
                        </div>
                    <div>
                    <div class="content-divider"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="list-group-item-heading">Add Comments</p>
                        </div>
                        <div class="col-md-3">
                            <p class="list-group-item-heading">Add To Favorite</p>
                        </div>
                    </div>
                    
                </li>
            </ul>
        </div>
        
        <div class="col-md-3" id="article_right_panel">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Related Article: <span class="badge" style="float:right;">14</span></h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
              <div class="panel-heading">
                <h3 class="panel-title">People also looking: <span class="badge" style="float:right;">14</span></h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>
        </div>
        
        
    </div>
{% endblock %}